# .env  — NO subir este archivo a GitHub (agrégalo al .gitignore)

# MongoDB Atlas
# Obtén esta URL en: Atlas → Connect → Connect your application
MONGO_URI=mongodb+srv://TU_USUARIO:TU_PASSWORD@cluster0.xxxxx.mongodb.net/skillhub?retryWrites=true&w=majority

# JWT
JWT_SECRET=skillhub_clave_super_secreta_cambiar_en_produccion

# Puerto del servidor
PORT=3000
